<div class="background">
	<div class="palm-header">Sizing Poker</div>
	<div id="main" class="palm-hasheader">
		
		<table class="card-table">
			<tr class="three-row">
				<td>
					<div>					
						<div id="1/2" name="1/2" class="small-card">1/2</div>
					</div>
				</td>
				<td>
					<div id="1" name="1" class="small-card">1</div>
				</td>
				<td>
					<div id="2" name="" class="small-card">2</div>
				</td>
			</tr>
			<tr class="three-row">
				<td>
					<div id="3" name="" class="small-card">3</div>
				</td>
				<td>
					<div id="5" name="" class="small-card">5</div>
				</td>
				<td>
					<div id="8" name="" class="small-card">8</div>
				</td>
			</tr>
			<tr class="three-row">
				<td>
					<div id="13" name="" class="small-card">13</div>
				</td>
				<td>
					<div id="20" name="" class="small-card">20</div>
				</td>
				<td>
					<div id="40" name="" class="small-card">40</div>
				</td>
			</tr>
		</table>
		<table class="card-table">
			<tr class="two-row">
				<td>
					<div id="100" name="" class="small-card">100</div>
				</td>
				<td>
					<div id="?" name="" class="small-card">?</div>
				</td>
			</tr>
		</table>
	<div id="change">change</div>
	</div>
	
</div>